.footer
{
    display: flex;
    justify-content: flex-end;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;      
}

.title
{
    display: flex;
    justify-content: center center;
    background: white;
    border-radius: 20px; 
    padding: 20px; 
    height: 40px;
    width: fit-content;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
}