.grid {
  display: grid;
  grid-template-columns: repeat(9, 40px);
  grid-template-rows: repeat(9, 40px);
  gap: 0px;
  justify-content: center;
  margin: 10px;
}

.cell {
  background-color: white;
  border: 1px solid #b7c4ff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  font-size: 20px;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}

.cell.readonly {
  color: #000;
}

.cell.highlight-row {
  background: #e8e8e8;
}

.cell.highlight-col {
  background: #e8e8e8;
}

.cell.highlight-same {
  background: #cacaca;
}

.cell.note-mode-off {
  background: #b7c4ff;
}

.cell.note-mode-on {
  background-color: #c8f7c5; 
}

.cell:after {
  content: '';
  display: block;
  padding-top: 100%;
  width: 100%;
}

.cell.top {
  border-top: 2px solid #090c1a;
}

.cell.bottom {
  border-bottom: 2px solid #090c1a;
}

.cell.left {
  border-left: 2px solid #090c1a;
}

.cell.right {
  border-right: 2px solid #090c1a;
}

.cell .value {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  position: relative;
}

.cell .notes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: absolute;
  inset: 0;
  font-size: 10px;
  line-height: 1;
}

.cell .notes-grid div {
  display: flex;
  align-items: center;
  justify-content: center;
}
