:host 
{
  display: block;
  padding: 30px;
  background: #3f51b5;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid #000
}

section 
{
  display: flex;
  align-items: center;
}

.options 
{
  display: flex;
  margin: 8px -8px;
}

.options button 
{
  flex: 1;
  margin: 8px;
}

.options button.active 
{
  background: #83c8ef;
}

.controls 
{
  display: flex;
  justify-content: center;
  gap: 4px;
  margin: 8px auto;
  max-width: 600px;
}

.controls button 
{
  flex: 0 0 auto;
  min-width: 60px;
  text-align: center;
  font-size: x-large;
  margin: 8px 8px 8px 0;
  padding: 4px 8px;
  border-radius: 20px;
}

.controls button:hover  
{
  background-color: rgb(65, 248, 15); 
}

.progress-container 
{
  width: 100%;
  height: 6px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.progress-bar 
{
  height: 100%;
  background-color: rgb(65, 248, 15);
  border-radius: 20px; 
  transition: width 0.3s ease-in-out;
}

.button-container 
{
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  flex-wrap: wrap;         
  align-items: center;   
  gap: 0.75rem;      
  width: 100%;
  border-bottom: 30px;
}

.btn 
{
  padding: 0.5rem 1rem;       
  width: 12rem;              
  color: white;              
  font-weight: 600;         
  text-align: center;       
  border: none;               
  border-radius: 0.5rem;   
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1); 
  cursor: pointer;      
  transition: background-color 0.2s ease-in-out; 
}

.btn-create 
{
    background-color: #e546d2; 
}

.btn-create:hover 
{
    background-color: #ca38a8;
}

.btn-create:focus 
{
    outline: none;
    box-shadow: 0 0 0 3px rgba(129, 140, 248, 0.5);
}

.btn-create.active
{
  border: 3px solid #d8ed1d;
}

.btn-solve 
{
    background-color: #0fa498; 
}

.btn-solve:hover 
{
    background-color: #12877d;
}

.btn-solve:focus 
{
    outline: none;
    box-shadow: 0 0 0 3px rgba(45, 212, 191, 0.5); 
}

.btn-solve.active
{
  border: 3px solid #d8ed1d;
}

.dynamic-section 
{
    height: 2.5rem;             
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;         
    align-items: center;  
    margin-bottom: 1rem; 
    margin-top: 14px;    
    position: relative;   
}

.message 
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 20px;
  width: fit-content;
}

.message.valid 
{
  background-color: green;
}

.message.invalid 
{
  background-color: red;
}

.dynamic-section .message 
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0; 
}

.btn.btn-hint {
    background-color: #f59e0b; 
    color: white;
    padding: 0.5rem 1rem;
    width: 10rem;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin: 12px;
}

.btn.btn-hint:hover {
    background-color: #d97706;
}

.btn.btn-hint:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(251, 191, 36, 0.5);
}

.btn.btn-note {
    background-color: #0bf551e6; 
    color: white;
    padding: 0.5rem 1rem;
    width: 10rem;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin: 12px;
}

.btn.btn-note:hover {
    background-color: #06d93ee3;
}

.btn.btn-note:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(36, 251, 97, 0.5);
}

.btn.btn-solveSudoku {
    background-color: #f59e0b; 
    color: white;
    padding: 0.5rem 1rem;
    width: 6rem;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin: 12px;
}

.btn.btn-solveSudoku:hover {
    background-color: #d97706;
}

.btn.btn-solveSudoku:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(251, 191, 36, 0.5);
}

#solve-button {
    position: absolute; 
    right: 0;   
}